{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Page - {{ title }}
{% endblock %}

{% block body %}
    <h1>Edit Page</h1>
    
    <form action="{% url 'save_edit' %}" method="POST">
        {% csrf_token %}
        <label for="title">Title</label>
        <input type="text" id="title" name="title" value="{{ title }}" required>
        <br>
        <label for="content">Content</label>
        <br>
        <textarea id="content" name="content" required>{{ content }}</textarea>
        <br>
        <input type="submit" value="Save">
    </form>
{% endblock %}
